<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
<title>无标题文档</title>
</head>
 <style>
/*全局样式*/
html, body, table, tr, td, span, ul, li {
	margin: 0 auto;
	padding: 0;
	font-family: "微软雅黑";
}
body {
	
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
}
.list-add a {
	text-decoration: none;
	color: black;
}
</style>
<body >
<div style="background:url(image/1.png) no-repeat; margin:0 auto; width:460px; height:900px; ">
   <div  style=" width:363px; height:623px;  margin-left:53px; padding-top:170px;     background: url(../image/sd_02.png);
">
   	<div id="refreshDiv">
      <div ng-controller="ApplyController as apply" >
    <div ng-repeat="map in apply.list" class="kuanjia" >
          <div ng-click="apply.detial(map.id)">
        <div class="xiangmu">
              <p><span>姓名:</span></p>
              <p><span>电话号码:</span></p>
              <div class="clear"></div>
            </div>
      </div>
          <div class="neirong" ng-click="apply.detial(map.id)">
        <p class="oneline"><span>内容:</span></p>
        <p><span>状态:</span><font >已读</font></p>
        <p><span>提交时间:</span></p>
        <div class="clear"></div>
      </div>
          <div class="xi">
        <div style="width:50%; float:right;">
              <div class="newss"><a >回&nbsp;&nbsp;复</a></div>
            </div>
        <div class="clear"></div>
      </div>
        </div>
  </div>
    </div>
   </div>
</div>
</body>
</html>
